# Backend environment variables:
OPENAI_API_KEY=

AUTH_JWT_SECRET=
AUTH_JWT_ALGORITHM=
AUTH_JWT_EXPIRE_MINUTES=
MONGO_URL=
MONGO_DB_AUTH=
MONGO_DB_USERFIN=

ENABLE_RAG=TRUE

# Frontend environment variables (non production):
REACT_APP_LANGRAPH_URL=
REACT_APP_USER_AUTH_URL=